# Ignore bundler config.
/.bundle

# dotenv
# Ignore environment variables
.env.*
.env
!.env.test

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.idea/

# Ignore Redis binary dump (dump.rdb) files
*.rdb

# Ignore simplecov coverage stats
/coverage/
