name: Clean up ECR
on:
  schedule:
    - cron: '0 11 * * *'

jobs:
  clean-ecr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main
      - name: cleanup images on ecr
        env:
          K8S_TOKEN: ${{ secrets.K8S_TOKEN }}
          K8S_CLUSTER_CERT: ${{ secrets.K8S_CLUSTER_CERT }}
          K8S_CLUSTER_NAME: ${{ secrets.K8S_CLUSTER_NAME }}
          K8S_NAMESPACE: ${{ secrets.K8S_NAMESPACE }}
          SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
          ECR_USERNAME: ${{ secrets.ECR_USERNAME }}
          ECR_CREDENTIALS_SECRET: ${{ secrets.ECR_CREDENTIALS_SECRET }}
        run: ./scripts/environment_setup.sh ecr_cleanup.rb
